CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
[Bb]uild/*
[Bb]uildgcc/*
[dD]ebug/
test/data/
3rdparty/boost_1_82_0/
doc[s]